.content{
    display: none;
}
.active-content{
    display: block;
}

.active-tabs{
    background-color: #ffa300;
    width: 192px;
    height: 44px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  
}